<% content_for :header_tags do %>
	<%= javascript_include_tag "echarts.min.js",:plugin => 'redmine_insights'%>
	<%= javascript_include_tag "moment.min.js", :plugin => 'redmine_insights'%>
	<%= javascript_include_tag "hoursPerTopLevelTask.js", :plugin => 'redmine_insights'%>
	<!--<%= javascript_include_tag "vue.min.js", :plugin => 'redmine_insights'%>-->
<% end %>
<h2>PerformanceController#project</h2>
<div id="hoursPerTopLevelTaskChart" style="width: 100%;height:350px;"></div>
<div id="sumHoursPerTopLevelTaskChart" style="width: 100%;height:350px;"></div>
<div id="treemap" style="width: 100%;height:500px;"></div>

<hr />
<%= @versions %>
<script type="text/javascript">
	let timeEntries = JSON.parse('<%= @time_entries.to_json.html_safe() %>');
	let issues = JSON.parse('<%= @issues.to_json.html_safe() %>');
	let users = JSON.parse('<%= @users.to_json.html_safe() %>');
  let versions = JSON.parse('<%= @versions.to_json.html_safe() %>');

  const timeSeriesData = getTimeSeriesData(timeEntries, issues, versions, [12]);

	const hoursPerTopLevelTaskChart = echarts.init(document.getElementById('hoursPerTopLevelTaskChart'));
	hoursPerTopLevelTaskChart.setOption(weeklyHours(timeSeriesData));

  const sumHoursPerTopLevelTaskChart = echarts.init(document.getElementById('sumHoursPerTopLevelTaskChart'));
	sumHoursPerTopLevelTaskChart.setOption(weeklyHoursSummed(timeSeriesData));

  const treeMapData = getTreeMapData(issues);
  const treemap = echarts.init(document.getElementById('treemap'));
  treemap.setOption(treeMap(treeMapData));
	
</script>
